.container {
  height: 450px;
  display: flex;
  width: 1000px;
  margin: 15% auto;
  padding: 50px;
  background: url(./../assets/background.jpg);
  border-radius: 30px;
}

:root {
  --pink: rgb(251, 161, 183);
  --light-pink: rgb(255, 209, 218);
  --white: rgb(255, 240, 245);
  --gold: rgb(255, 219, 170);
}

.inner-container {
  display: grid;
  grid-template-columns: repeat(5, 175px);
  grid-template-rows: repeat(7, 70px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  justify-items: center;
}

app-page-title {
  grid-area: 1 / 1 / 2 / 6;
}

app-button {
  grid-area: 8 / 1 / 7 / 7;
}
