<div class="container">
  <form class="inner-container">
    <app-page-title text="Add Cards~"></app-page-title>
    <app-selection
      (selectionChange)="selectionChange($event)"
      text="Set:"
      format="setFormat"
    ></app-selection>
    <app-input text="Name" (textChange)="textChange($event)"></app-input>
    <app-input text="Title" (textChange)="textChange($event)"></app-input>
    <app-input text="Picture URL" (textChange)="textChange($event)"></app-input>
    <app-checkbox (checkbox)="toggleCheck($event)" text="Promo"></app-checkbox>
    <app-checkbox
      (checkbox)="toggleCheck($event)"
      text="Employ Effect"
    ></app-checkbox>
    <app-checkbox
      (checkbox)="toggleCheck($event)"
      text="Event Required"
    ></app-checkbox>
    <app-checkbox
      (checkbox)="toggleCheck($event)"
      text="Couples Required"
    ></app-checkbox>
    <app-checkbox
      (checkbox)="toggleCheck($event)"
      text="Reminescence Required"
    ></app-checkbox>
    <app-checkbox
      (checkbox)="toggleCheck($event)"
      text="Beer Maid"
    ></app-checkbox>
    <app-checkbox
      (checkbox)="toggleCheck($event)"
      text="Chief Maid"
    ></app-checkbox>
    <app-checkbox
      (checkbox)="toggleCheck($event)"
      text="Chambermaid"
    ></app-checkbox>
    <app-checkbox
      (checkbox)="toggleCheck($event)"
      text="Crescent/Compy Sister"
    ></app-checkbox>
    <app-checkbox
      (checkbox)="toggleCheck($event)"
      text="Stacking VP"
    ></app-checkbox>
    <app-selection
      (selectionChange)="selectionChange($event)"
      text="Victory Points"
      format="numberFormat"
    ></app-selection>
    <app-checkbox
      (checkbox)="toggleCheck($event)"
      text="Negative VP"
    ></app-checkbox>
    <app-selection
      (selectionChange)="selectionChange($event)"
      text="Purchase Price"
      format="numberFormat"
    ></app-selection>
    <app-selection
      (selectionChange)="selectionChange($event)"
      text="Card Draw"
      format="numberFormat"
    ></app-selection>
    <app-selection
      (selectionChange)="selectionChange($event)"
      text="Employs"
      format="numberFormat"
    ></app-selection>
    <app-selection
      (selectionChange)="selectionChange($event)"
      text="Servings"
      format="numberFormat"
    ></app-selection>
    <app-selection
      (selectionChange)="selectionChange($event)"
      text="Love"
      format="numberFormat"
    ></app-selection>
    <app-selection
      (selectionChange)="selectionChange($event)"
      text="Card ID"
      format="numberFormat"
    ></app-selection>
    <app-button text="Submit" (btnClick)="submitCard()"></app-button>
  </form>
</div>
